.text-img {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    height: fit-content;
    box-sizing: border-box;
}

.text-img div.box_text {
    width: 50%;
    height: 100%;
    justify-content: stretch;
    margin: auto 0;
    box-sizing: border-box; 
}

.text-img img {
    width: 50%;
}

