.box-dual {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    display: inline-block;

}

.box-dual img {
    height: 100%;
    left: 0;
    object-fit: cover;
    top: 0;
    width: 100%;
    z-index: -1;
}

.box-dual div {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25%;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.box-dual h2 {
    font-family: var(--font-fraunces);
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .54px;
}

.box-dual p {
    margin: 0;
    font-size: 16.5px;
    line-height: 170%;
}

/*Responsividade*/
@media (max-width: 999px) {
    .box-dual {
        min-height: 600px;
        padding: 0;
    }

    .box-dual div {
        padding: 3rem 2rem;
        width: 100%;
    }
}