header {
    padding: 0 2rem;
    padding: 34px 40px 0 40px;
    color: var(--white);
    background-color: hsl(200deg 100% 62%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    box-sizing: border-box;
    padding-bottom: 1em;
}

header .header-box .logo {
    height: auto;
    width: 170px;
}

header .header-box button.btn-hamburguer {
    display: none;
}

header .arrow-up {
    display: none;
}

header ul {
    width: 39%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    align-items: center;
}

header ul li {
    display: block;
    list-style: none;
    padding: 1em 0.5em;
    width: calc(25%);
    border-radius: 28px;
    text-align: center;
    height: fit-content;
}

header ul li:hover {
    padding: 1.25em 0.6em;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--white);
    background-color: #6FCDFF;
    cursor: pointer;
    font-family: var(--font-fraunces);
    margin: 0;
    font-weight: 900;
}

header ul li.active {
    padding: 1.25em 0.6em;
    text-transform: uppercase;
    font-size: 15px;
    color: var(--very-dark-desaturated-blue);
    background-color: var(--white);
    font-family: var(--font-fraunces);
    margin: 0;
    font-weight: 900;
}


/*Responsividade*/
@media (max-width: 999px) {
    header {
        background-color: transparent;
        display: block;
        padding: 0;
        margin: 0;
        overflow: auto;
        
    }

    header .header-box {
        display: flex;
        height: fit-content;
        box-sizing: border-box;
        background-color: #3EBFFF;        
    }

    header .header-box .logo {
        text-align: left;
        padding: 1.5rem 2rem;
        margin: 0;
    }

    header .header-box button.btn-hamburguer {
        background-color: transparent;
        border: none;
        padding: 2.25em 2em;
        position: fixed;
        right: 0;
        top: 0;
        display: block;
    }

    header #arrow-up {
        display: none;
        /* display: block */
        margin: auto;
        margin-right: 2rem;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-bottom: 30px solid var(--white);
    }

    header ul {
        display: none;
        /* inline-block */
        align-items: center;
        margin: 0 2rem;
        padding: 1rem 0;
        background-color: var(--white);
        width: calc(100% - 4rem);
        color: var(--very-dark-grayish-blue);
    }

    header ul li {
        margin: auto;
        width: 9em;
        box-sizing: border-box;
        height: fit-content;
    }

    header ul li.active, header ul li:hover {
        margin: 0 auto;
        background-color: var(--yellow);
        color: var(--very-dark-desaturated-blue);
        border-radius: 2em;
        transition: 0.1s;
    }
}