.box-testimonials {
    margin: 10rem 0;
}

.box-testimonials h5 {
    color: var(--blue-grayish);
    margin: 4rem 0;
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.25rem;
}

.box-testimonials div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}