.box-dual {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-color: #9ADACC;
    min-height: 30rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.box-dual h2 {
    font-family: var(--font-fraunces);
    width: 100%;
    margin: 1rem;
}

.box-dual p {
    width: 70%;
    padding: 0 1rem;
    margin: 0 auto;
}
