.box-dual {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    min-height: 450px;
    max-height: 550px;
    padding: 4rem 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.box-dual div {
    height: fit-content;
    width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
}

.box-dual div h2 {
    font-family: var(--font-fraunces);
    width: 100%;
    margin: 0;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
}

.box-dual div p {
    margin: 0;
    font-size: 1.1rem;
}

/*Responsividade*/
@media (max-width: 759px) {
    .box-dual {
        min-height: 600px;
        padding: 3rem 2rem;
    }

    .box-dual div {
        width: 100%;
    }
}