.person {
    width: 22rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}

.person img {
    border-radius: 50rem;
    height: 72px;
    margin: 0 auto;
    box-sizing: border-box;
}

.person h4 {
    color: var(--dark-grayish-blue);
    margin: 60px 0;
    line-height: 190%;
}

.person h3 {
    width: 100%;
    font-family: var(--font-fraunces);
    color: var(--very-dark-desaturated-blue);
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 18px;
}

.person p {
    width: 100%;
    color: var(--dark-grayish-blue);
    font-size: 14px;
    margin: 0;
}

/*Responsividade*/
@media (max-width: 999px) {
    .person {
        width: 22rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        margin: 1rem 0;
    }

    .person h4 {
        margin: 35px 0;
    }

    .person p {
        margin-bottom: 0.5em;
    }
}
