.person {
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
}

.person img {
    border-radius: 50rem;
    height: 5rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.person h4 {
    color: var(--blue-very-dark);
    margin: 3rem 0;
    line-height: 1.7rem;
}

.person h3 {
    width: 100%;
    font-family: var(--font-fraunces);
    color: var(--blue-very-dark-desaturated);
    margin: 0;
    margin-bottom: 1rem;
}

.person p {
    width: 100%;
    color: var(--blue-dark-grayish);
    font-size: medium;
    margin: 0;
}