.footer-box {
    background-color: #90D4C5;
    margin: 0;
    padding: 70px 0;
    color: var(--dark-moderate-cyan);
    text-align: center;
}

.footer-box img {
    height: 32px;
    filter: invert(35%) sepia(53%) saturate(456%) hue-rotate(119deg) brightness(50%) contrast(80%);
}

.footer-box ul.page {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 45px 0 90px;
}

.footer-box ul.page li {
    margin: 0 1rem;
    width: 5rem;
}

.footer-box ul.page li:hover {
    cursor: pointer;
    color: var(--white);
}

.footer-box div.contact {
    margin-top: 4rem;
    padding: 0;
}

.footer-box div.contact svg {
    margin: 0 0.75rem;
    font-size: 1.5rem;
}

.footer-box div.contact svg:hover {
    cursor: pointer;
    color: var(--white);
}