.box-testimonials {
    padding: 8% 0;
    padding-bottom: calc(8% + 4rem);
}

.box-testimonials h5 {
    color: var(--grayish-blue);
    margin: 4rem 0;
    font-family: var(--font-fraunces);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 1.25rem;
}

.box-testimonials div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

/*Responsividade*/
@media (max-width: 759px) {
    .box-testimonials {
        padding-top: 5rem;
    }

    .box-testimonials h5 {
        color: var(--grayish-blue);
        margin: 4rem 0;
        font-family: var(--font-fraunces);
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-size: 1rem;
    }

    .box-testimonials div {
        flex-direction: column;
        padding: 0 0.75rem;
        padding-bottom: 3rem;
        margin: 0 auto;
    }
}