@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root {
  --font-barlow: 'Barlow', sans-serif;
  --font-fraunces: 'Fraunces', serif;

  --red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --cyan-dark: hsl(167, 40%, 24%);
  --blue-dark: hsl(198, 62%, 26%);
  --cyan-moderate: hsl(168, 34%, 41%);
  --blue-very-dark: hsl(212, 27%, 19%);
  --blue-very-dark: hsl(213, 9%, 39%);
  --blue-dark-grayish: hsl(232, 10%, 55%);
  --blue-grayish: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  font-family: var(--font-barlow);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}