.box-images {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box-images img {
    width: calc(100% / 4);
}

/*Responsividade*/
@media (max-width: 759px) {
    .box-images {
        flex-wrap: wrap;
    }

    .box-images img {
        width: calc(100% / 2);
    }
}